.button {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  max-height: 3.125rem;
  padding: .9375rem 1.25rem;
  @include transition('all, 0.4s, ease-in-out');
  width: max-content;
}