<nav class="site__navigation">
  <ul class="main__navigation nav__menu">
    <li class="nav__menu_item">
      <a href="#" class="nav__menu_item_link">Nav Menu Item 1</a>
    </li>
    <li class="nav__menu_item">
      <a href="#" class="nav__menu_item_link">Nav Menu Item 2</a>
    </li>
    <li class="nav__menu_item has__sub_menu">
      <a href="#" class="nav__menu_item_link">Nav Menu Item with SubMenu</a>
      <ul class="nav__sub_menu">
        <li class="nav__sub_menu_item">
          <a href="#" class="nav__sub_menu_item_link">Sub Menu Item 1</a>
        </li>
        <li class="nav__sub_menu_item">
          <a href="#" class="nav__sub_menu_item_link">Sub Menu Item 2</a>
        </li>
        <li class="nav__sub_menu_item">
          <a href="#" class="nav__sub_menu_item_link">Sub Menu Item 3</a>
        </li>
      </ul>
    </li>
    <li class="nav__menu_item">
      <a href="#" class="nav__menu_item_link">Nav Menu Item 2</a>
    </li>
  </ul>
</nav>
