---
import Layout from "../layouts/Layout.astro";

type Props = {};

const {} = Astro.props;
---

<Layout title="Page 2">
  <h1>Page 2</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magnam
    unde. Deserunt, atque nemo itaque voluptatum inventore quam expedita et
    delectus rerum ipsam suscipit repellat, quos nobis doloremque, facilis
    autem.
  </p>
</Layout>
