---
import Layout from "../layouts/Layout.astro";
import "../styles/components/_validate.scss";
---

<Layout title="Validate" showHeader={false} showFooter={false}>
  <section class="validate__section">
    <div class="wrapper-color">
      <div class="validate__section--content">
        <h2 class="validate__section--title">Restricted Access</h2>
      </div>
      <div class="validate__section--form">
        <form class="form__validate">
          <div class="form__validate group">
            <label for="access-code">Enter Access Code</label>
            <input
              type="text"
              id="access-code"
              name="access-code"
              class="control"
              required
              autocomplete="off"
              placeholder="Enter Access Code"
            />
          </div>
          <div class="form__validate group">
            <input type="submit" class="button" value="SEE CONTENT" />
          </div>
        </form>
      </div>
    </div>
  </section>
</Layout>
