---
import './modal.scss'
type Props = {
  id: string
  className?: string
  closeButton?: boolean
}
const { id, className = '' } = Astro.props
---

<template id={`modal-template-${id}`}>
  <section
    class={`modal ${className}`}
    id={`modal-${id}`}
    style='display: none'
  >
    <div class='modal__wrapper'>
      <div class='modal__content'>
        <slot />
      </div>
    </div>
  </section>
</template>
<script src='./modal.ts'></script>
