---
import { OptionsType } from '@fancyapps/ui/types/Fancybox/options'
import './modal.scss'
type Props = {
  id: string
  className?: string
  closeButton?: boolean
  options?: Partial<OptionsType>
}
const { id, className = '', options = {} } = Astro.props
---

<template
  id={`modal-template-${id}`}
  data-modal-options={JSON.stringify(options)}
>
  <section class={`modal ${className}`} id={`${id}`} style='display: none'>
    <div class='modal__wrapper'>
      <div class='modal__content'>
        <slot />
      </div>
    </div>
  </section>
</template>
<script src='./modal.ts'></script>
