---
type Props = {
  name: string
}

const { name } = Astro.props
---

<article
  id=`accordion-group-${name}`
  class='accordion-group'
  data-expanded={false}
>
  <a href='#' data-target=`${name}` class='accordion-group-toggle'></a>
  <slot />
</article>
