---
import logoLight from '../images/logo-light.svg';
---

<footer class="footer">
    <nav class="footer__nav">
        <div class="footer__logo">
            <img src={logoLight} alt="logo" class="footer__logo-img"/>
        </div>
    </nav>
</footer>