---
import FooterNavigation from "./Navigation/FooterNavigation.astro";
---

<footer class="footer">
  <div class="wrapper">
    <!-- Footer Logo -->
    <div class="footer__branding">
      <a href="#" class="footer__logo">
        Logo Here.
        <!-- <img src="/assets/images/Footer-Logo.png" alt="Footer Logo" /> -->
      </a>
    </div>
    <!-- Footer Navigation -->
    <div class="footer__links">
      <FooterNavigation />
    </div>
  </div>
</footer>
