---
import logoDark from '../images/logo-dark.svg';
---
<header class="header">
    <nav class="header__nav">
        <a href="/" class="header__logo">
            <img class="header__logo-img" src={logoDark} alt="skilled">
        </a>
        <ul class="header__menu">
            <li class="header__menu-item">
                <a class="btn btn-primary" href="index.html">
                    Get started
                </a>
            </li>
        </ul>
    </nav>
</header>