---
import HeaderNavigation from "./Navigation/HeaderNavigation.astro";
---

<header class="site__header">
  <div class="header__inner">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          Logo Here
          <!-- <img src="/assets/images/LOGO.png" alt="ALT" /> -->
        </a>
      </div>
      <div class="navigation">
        <HeaderNavigation />
      </div>
    </div>
  </div>
</header>
