<div class="hero">
    <div class="hero__inner">
        <div class="hero__content">
            <h1 class="hero__title">Hero Title</h1>
            <p class="hero__text">Hero Text</p>
            <a href="#" class="hero__button">Hero Button</a>
        </div>
    </div>
</div>