---
type Props = {};

const {} = Astro.props;
---

<section id="isi" class="isi">
  <div class="wrapper">
    <div class="isi__section_header">
      <div class="isi__section_header_inner">
        <div class="wrapper">
          <h3 class="isi__section_heading">
            Indication and Important Safety Information
          </h3>
          <button class="isi__section_toggle"></button>
        </div>
      </div>
      <div class="wrapper wrapper__inner">
        <div class="isi__section grid">
          <div class="grid__item left">
            <h4 class="isi__section_subheading">WARNINGS AND PRECAUTIONS</h4>
            <ul class="isi__section_list">
              <li>
                <strong>Hypersensitivity Reactions</strong>, including
                anaphylaxis, have been reported in STRENSIQ-treated patients.
                Signs and symptoms consistent with anaphylaxis included
                difficulty breathing, choking sensation, nausea, periorbital
                edema, and dizziness. These reactions have occurred within
                minutes after subcutaneous administration of STRENSIQ and have
                been observed more than 1 year after treatment initiation. Other
                hypersensitivity reactions have also been reported in
                STRENSIQ-treated patients, including vomiting, fever, headache,
                flushing, irritability, chills, skin erythema, rash, pruritus
                and oral hypoesthesia.Inform patients and/or caregivers of the
                signs and symptoms of hypersensitivity reactions and have them
                seek immediate medical care should signs and symptoms occur. If
                a severe hypersensitivity reaction occurs, discontinue STRENSIQ
                treatment and initiate appropriate medical treatment. Consider
                the risks and benefits of re-administering STRENSIQ to
                individual patients following a severe reaction. If the decision
                is made to re-administer the product, monitor patients for a
                reoccurrence of signs and symptoms of a severe hypersensitivity
                reaction.
              </li>
              <li>
                <strong>Lipodystrophy:</strong> Localized lipodystrophy, including
                lipoatrophy (depression in the skin) and lipohypertrophy (enlargement
                or thickening of tissue), has been reported at injection sites after
                several months in patients treated with STRENSIQ in clinical trials.
                Advise patients to follow proper injection technique and to rotate
                injection sites.
              </li>
              <li>
                <strong>Ectopic Calcifications:</strong> Patients with HPP are at
                increased risk for developing ectopic calcifications. Events of ectopic
                calcification, including ophthalmic (conjunctival and corneal) and
                renal (nephrocalcinosis, nephrolithiasis), have been reported in
                the clinical trial experience with STRENSIQ. There was insufficient
                information to determine whether or not the reported events were
                consistent with the disease or due to STRENSIQ. No visual changes
                or changes in renal function were reported resulting from the occurrence
                of ectopic calcifications.Ophthalmology examinations and renal ultrasounds
                are recommended at baseline and periodically during treatment with
                STRENSIQ to monitor for signs and symptoms of ophthalmic and renal
                ectopic
              </li>
            </ul>
          </div>
          <div class="grid__item right">
            <h4 class="isi__section_subheading">INDICATION</h4>
            <p>
              STRENSIQ<sup>&reg;</sup> is indicated for the treatment of patients
              with perinatal/infantile- and juvenile-onset hypophosphatasia (HPP).
            </p>
          </div>
        </div>
        <div class="isi__section_content">
          <div class="isi__section grid">
            <div class="grid__item left">
              <h4 class="isi__section_subheading">WARNINGS AND PRECAUTIONS</h4>
              <ul class="isi__section_list">
                <li>
                  <strong>Hypersensitivity Reactions</strong>, including
                  anaphylaxis, have been reported in STRENSIQ-treated patients.
                  Signs and symptoms consistent with anaphylaxis included
                  difficulty breathing, choking sensation, nausea, periorbital
                  edema, and dizziness. These reactions have occurred within
                  minutes after subcutaneous administration of STRENSIQ and have
                  been observed more than 1 year after treatment initiation.
                  Other hypersensitivity reactions have also been reported in
                  STRENSIQ-treated patients, including vomiting, fever,
                  headache, flushing, irritability, chills, skin erythema, rash,
                  pruritus and oral hypoesthesia.Inform patients and/or
                  caregivers of the signs and symptoms of hypersensitivity
                  reactions and have them seek immediate medical care should
                  signs and symptoms occur. If a severe hypersensitivity
                  reaction occurs, discontinue STRENSIQ treatment and initiate
                  appropriate medical treatment. Consider the risks and benefits
                  of re-administering STRENSIQ to individual patients following
                  a severe reaction. If the decision is made to re-administer
                  the product, monitor patients for a reoccurrence of signs and
                  symptoms of a severe hypersensitivity reaction.
                </li>
                <li>
                  <strong>Lipodystrophy:</strong> Localized lipodystrophy, including
                  lipoatrophy (depression in the skin) and lipohypertrophy (enlargement
                  or thickening of tissue), has been reported at injection sites
                  after several months in patients treated with STRENSIQ in clinical
                  trials. Advise patients to follow proper injection technique and
                  to rotate injection sites.
                </li>
                <li>
                  <strong>Ectopic Calcifications:</strong> Patients with HPP are
                  at increased risk for developing ectopic calcifications. Events
                  of ectopic calcification, including ophthalmic (conjunctival and
                  corneal) and renal (nephrocalcinosis, nephrolithiasis), have been
                  reported in the clinical trial experience with STRENSIQ. There
                  was insufficient information to determine whether or not the reported
                  events were consistent with the disease or due to STRENSIQ. No
                  visual changes or changes in renal function were reported resulting
                  from the occurrence of ectopic calcifications.Ophthalmology examinations
                  and renal ultrasounds are recommended at baseline and periodically
                  during treatment with STRENSIQ to monitor for signs and symptoms
                  of ophthalmic and renal ectopic
                </li>
              </ul>
            </div>
            <div class="grid__item right">
              <h4 class="isi__section_subheading">INDICATION</h4>
              <p>
                STRENSIQ<sup>&reg;</sup> is indicated for the treatment of patients
                with perinatal/infantile- and juvenile-onset hypophosphatasia (HPP).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="isi__section_content">
      <div class="isi__section grid">
        <div class="grid__item left">
          <h4 class="isi__section_subheading">WARNINGS AND PRECAUTIONS</h4>
          <ul class="isi__section_list">
            <li>
              <strong>Hypersensitivity Reactions</strong>, including
              anaphylaxis, have been reported in STRENSIQ-treated patients.
              Signs and symptoms consistent with anaphylaxis included difficulty
              breathing, choking sensation, nausea, periorbital edema, and
              dizziness. These reactions have occurred within minutes after
              subcutaneous administration of STRENSIQ and have been observed
              more than 1 year after treatment initiation. Other
              hypersensitivity reactions have also been reported in
              STRENSIQ-treated patients, including vomiting, fever, headache,
              flushing, irritability, chills, skin erythema, rash, pruritus and
              oral hypoesthesia.Inform patients and/or caregivers of the signs
              and symptoms of hypersensitivity reactions and have them seek
              immediate medical care should signs and symptoms occur. If a
              severe hypersensitivity reaction occurs, discontinue STRENSIQ
              treatment and initiate appropriate medical treatment. Consider the
              risks and benefits of re-administering STRENSIQ to individual
              patients following a severe reaction. If the decision is made to
              re-administer the product, monitor patients for a reoccurrence of
              signs and symptoms of a severe hypersensitivity reaction.
            </li>
            <li>
              <strong>Lipodystrophy:</strong> Localized lipodystrophy, including
              lipoatrophy (depression in the skin) and lipohypertrophy (enlargement
              or thickening of tissue), has been reported at injection sites after
              several months in patients treated with STRENSIQ in clinical trials.
              Advise patients to follow proper injection technique and to rotate
              injection sites.
            </li>
            <li>
              <strong>Ectopic Calcifications:</strong> Patients with HPP are at increased
              risk for developing ectopic calcifications. Events of ectopic calcification,
              including ophthalmic (conjunctival and corneal) and renal (nephrocalcinosis,
              nephrolithiasis), have been reported in the clinical trial experience
              with STRENSIQ. There was insufficient information to determine whether
              or not the reported events were consistent with the disease or due
              to STRENSIQ. No visual changes or changes in renal function were reported
              resulting from the occurrence of ectopic calcifications.Ophthalmology
              examinations and renal ultrasounds are recommended at baseline and
              periodically during treatment with STRENSIQ to monitor for signs and
              symptoms of ophthalmic and renal ectopic
            </li>
          </ul>
        </div>
        <div class="grid__item right">
          <h4 class="isi__section_subheading">INDICATION</h4>
          <p>
            STRENSIQ<sup>&reg;</sup> is indicated for the treatment of patients with
            perinatal/infantile- and juvenile-onset hypophosphatasia (HPP).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
