<!-- Slider main container -->
<div class='swiper'>
  <!-- Additional required wrapper -->
  <div class='swiper-wrapper'>
    <!-- Slides -->
    <div class='swiper-slide'>
      <img src='https://placehold.jp/2000x500.png' alt='Image as example 1' />
    </div>
    <div class='swiper-slide'>
      <img src='https://placehold.jp/2000x500.png' alt='Image as example 2' />
    </div>
    <div class='swiper-slide'>
      <p class='myswiper-custum-text'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ut sed
        deleniti dolores dignissimos repellendus, possimus, impedit officiis
        commodi earum numquam provident quos natus, qui quisquam temporibus
        dolorem harum eligendi!
      </p>
    </div>
  </div>

  <!-- If we need navigation buttons -->
  <div class='swiper-button-prev'></div>
  <div class='swiper-button-next'></div>

  <!-- If we need pagination -->
  <div class='swiper-pagination'></div>
</div>

<style>
  .swiper {
    /* Width and height of slider */
    width: 100%;
    height: auto;

    /* Change the default color of the all swiper elements */
    --swiper-theme-color: #000;
  }

  .myswiper-custum-text {
    text-align: center;
    padding: 3rem;
    font-size: 2rem;
    line-height: 1.5;
  }
</style>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from 'swiper/bundle'
  import 'swiper/css/bundle'
  // you can also import just the modules you need, read more about that here https://swiperjs.com/get-started#install-from-npm

  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: false,

    // if we need navigation buttons
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },

    // If we need pagination
    pagination: {
      el: '.swiper-pagination'
    },

    // Autoplay Configuration
    autoplay: {
      delay: 3000,
      disableOnInteraction: false
    }
  })
</script>
