// This is just an example of how to use the wrapper, we should modify it to fit our needs
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: calc(100% - 2rem);

  @media screen and (min-width: 428px) {
    max-width: calc(100% - 2.5rem);
  }

  @media screen and (min-width: 768px) {
    max-width: calc(100% - 4rem);
  }

  @media screen and (min-width: 1024px) {
    max-width: calc(100% - 4.2813rem);
  }

  @media screen and (min-width: 1366px) {
    max-width: calc(100% - 5.2813rem);
  }

  @media screen and (min-width: 1366px) {
    max-width: calc(100% - 8.2813rem);
  }

  @media screen and (min-width: 1600px) {
    max-width: 90rem
  }
}