/* Using @each we create a CSS class for
color and background using the name in the class
and the value as the property value that we need

Ex: .color--white { color: #FFFFFFF; } and
.bg-color--white { background-color: #FFFFFF; }*/
@each $color-name,
$color-value in $colors {
    .color--#{$color-name} {
        color: $color-value;
    }

    .bg-color--#{$color-name} {
        background-color: $color-value;
    }
}

;