.color--purple-heather {
    background-color: $color-purple-heather;
    color: $color-purple-heather;
}

.color--blue-midnight {
    background-color: $color-blue-midnight;
    color:  $color-blue-midnight;
}

.color--gray-smoke {
    background-color: $color-gray-smoke;
    color: $color-gray-smoke;
}

.color--pink-punch {
    background-color: $color-pink-punch;
    color: $color-pink-punch;
}

.color--pink {
    background-color: $color-pink;
    color: $color-pink;
}

.color--white {
    background-color: $color-white;
    color: $color-white;
}

.color--black {
    background-color: $color-black;
    color: $color-black;
}

.color--bg-primary {
    background: $color-bg-primary;
    color: transparent;
}

.color--bg-secondary {
    background: $color-bg-secondary;
    color: transparent;
}


.text-color--purple-heather {
    color: $color-purple-heather;
}

.text-color--blue-midnight {
    color: $color-blue-midnight;
}

.text-color--gray-smoke {
    color: $color-gray-smoke;
}

.text-color--pink-punch {
    color: $color-pink-punch;
}

.text-color--pink {
    color: $color-pink;
}

.text-color--white {
    color: $color-white;
}

.text-color--black {
    color: $color-black;
}

.text-color--bg-primary {
    color: $color-bg-primary;
}

.text-color--bg-secondary {
    color: $color-bg-secondary;
}

.h-xl {
    font-size: $font-size-xl;
    font-weight: 800;
    line-height: 70px;
}

.h-l {
    font-size: $font-size-l;
    font-weight: 800;
    line-height: 51px;
}

.h-m {
    font-size: $font-size-m;
    font-weight: 800;
    line-height: 40px;
}

.h-s {
    font-size: $font-size-s;
    font-weight: 800;
    line-height: 28px;
}


//Buttons
.btn {
    border-radius: 28px;
    padding: 14px 32px;
    cursor: pointer;
    text-decoration: none;

    max-width: fit-content;
}

.btn-primary {
    background-color: $color-blue-midnight;
    color: $color-white;
    border: 1px solid $color-blue-midnight;

    &:hover {
        background-color: $color-purple-heather;
        border: 1px solid $color-purple-heather;
        color: $color-white;
    }
}

.btn-secondary {
    background: $color-bg-primary;
    color: $color-white;
    border: 1px solid $color-bg-primary;
    
    &:hover {
        background: $color-bg-primary-soft;
        border: 1px solid $color-bg-secondary-soft;
        color: $color-white;
    }
}

.btn-tertiary {
    background: $color-bg-secondary;
    color: $color-white;
    border: 1px solid $color-bg-secondary;
    
    &:hover {
        background: $color-bg-secondary-soft;
        border: 1px solid $color-bg-secondary-soft;
        color: $color-white;
    }
}