$color-purple-heather: #666CA3;
$color-blue-midnight: #13183F;
$color-gray-smoke: #83869A;
$color-pink-punch: #F74780;
$color-pink: #FFA7C3;
$color-white: #FFFFFF;
$color-black: #000000;
$color-bg-primary: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$color-bg-secondary: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);