---
import './hero-header.scss'
type Props = {
  fullHeight?: boolean
  layout?: 'flex' | 'absolute'
  className?: string
}
const { fullHeight = false, layout = 'flex', className = '' } = Astro.props

const layoutClass =
  layout === 'flex'
    ? 'hero-header__flex-layout'
    : 'hero-header__absolute-layout'
---

<section
  class:list={[
    `hero-header ${className} ${layoutClass}`,
    { 'hero-header__full-height': fullHeight }
  ]}
>
  <div class='hero-header__wrapper'>
    <div class='hero-header__content-container'>
      <div class='hero-header__content-wrapper'>
        <slot name='hero-content' />
      </div>
    </div>
    <div class='hero-header__image-container'>
      <slot name='hero-image' />
    </div>
  </div>
</section>
