---
import '@fancyapps/ui/dist/fancybox/fancybox.css'
import '../styles/style.scss'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Isi from '../components/ISI.astro'
import SEOWrapper from '../components/SEO/SEOWrapper.astro'

export interface Props {
  title: string
  pageClass?: string
  showHeader?: boolean
  showFooter?: boolean
  showISI?: boolean
  page?: string
}

const {
  title,
  pageClass,
  showHeader = true,
  showISI = true,
  showFooter = true,
  page = ''
} = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <SEOWrapper page={page} />
  </head>
  <body class={pageClass}>
    {showHeader && <Header />}
    <main class='main'>
      <slot />
    </main>
    {showISI && <Isi />}
    {showFooter && <Footer />}
    <script src='/assets/js/script.js' type='module'></script>

    <script>
      // import function to register Swiper custom elements
      import { register } from 'swiper/element/bundle'
      // register Swiper custom elements
      register()
    </script>

    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
